.container {
    position: relative;
    max-width: 1130px;
    margin: 20px auto;
    padding: 0 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid red;
}

table {
    margin: 5px;

    td {
        border: 1px solid black;
        padding: 0.25rem;

        &.max, &.price, &.number {
            text-align: center;
        }

        &.number {
            width: 12px;
        }

        &.nick {
            width: 150px;
            overflow: hidden;
        }

        &.payment-method {
            width: 500px;
            overflow: hidden;
            text-overflow: hidden;
        }

        &.price {
            width: 60px;
        }

        &.max {
            width: 150px;
        }
    }
}
